html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
html, body {
  font-family: Arial black !important;
}
h2 {
  padding-bottom: 5px;
}

.underline {
  background-color: white;
  height: 5px;
  width: 200px;
}

.intro-slide {
  font-size: 30px;
  text-align: center;
}

.intro-slide p {
  font-size: 20px;
}

.intro-slide h1 {
  color: white;
  padding-top: 300px;
}
.intro-slide h1 .namee {
  color: #fbcb3c;
  display: inline;
}

.about-slide p, h2 {
  margin: 0;
}

.about-slide {
  padding-left: 5%;
  padding-right: 40%;
  padding-top: 100px;
  height: 65vh;
  background-color: #404d5b;
  color: white;
  box-sizing: border-box;
}

.skills-slide p, h2 {
  margin: 0;
}

.skills-slide {
  padding-left: 5%;
  padding-top: 100px;
  height: 70vh;
  background-color: #404d5b;
  color: white;
  box-sizing: border-box;
}

.project-slide p, h2 {
  margin: 0;
}

.project-slide {
  padding-left: 5%;
  padding-top: 100px;
  height: 285vh;
  background-color: #404d5b;
  color: white;
  box-sizing: border-box;
}

.contact-slide p, h2 {
  margin: 0;
}

.contact-slide {
  padding-top: 100px;
  height: 80vh;
  background-color: #404d5b;
  color: white;
  box-sizing: border-box;
}

#logo {
  height: 40px;
}

#person {
  padding-left: 200px;
}

nav div ul li {
  font-size: 20px;
  padding: 0 15px;
  font-family: Arial black;
}

nav div ul li a {
  color: white !important;
}

nav div ul li a:hover {
  color: black !important;
  background-color: white;
}

div .col-3 {
  border: white;
}

.myborder {
  width: 400px;
  height: 300px;
  border: 1px solid white;
  padding: 25px 0 50px 0;
  background-color: #1a1e23;
}

.myborder:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05); 
}

footer {
  background-color: #1a1e23;
}

figcaption {
  background-color: #1a1e23;
}

@media screen and (max-width: 767px) {
  .contact-slide {
    height: 125vh;
    padding-top: 60px;
  }
}

@media screen and (max-width: 1400px) {
  .skills-slide {
    height: 150vh;
    padding-top: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .about-slide {
    height: 130vh;
    padding-top: 60px;
  }
  .project-slide {
    height: 250vh;
    padding-top: 60px;
  }
  #person {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1050px) {
  #dbinterface {
    width: 450px;
  }
  #personalwebsite {
    width: 450px;
  }
  #financialdashboard {
    width: 450px;
  }
  figcaption {
    width: 450px;
  }
}