html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial black;
  margin: 0;
}

.intro-slide {
  height: 100vh;
  background-color: black;
  color: rgb(252, 168, 0);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-slide h1 {
  font-size: 30px;
  text-align: center;
}

.intro-slide h1 p {
  font-size: 20px;
  text-align: center;
}

.about-slide p, h2 {
  margin: 0;
}

.about-slide {
  padding-top: 59.2px;
  height: 100vh;
  background-color: rgb(252, 168, 0);
  color: black;
  box-sizing: border-box;
}

.skills-slide p, h2 {
  margin: 0;
}

.skills-slide {
  padding-top: 59.2px;
  height: 100vh;
  background-color: black;
  color: rgb(252, 168, 0);
  box-sizing: border-box;
}

.project-slide p, h2 {
  margin: 0;
}

.project-slide {
  padding-top: 59.2px;
  height: 100vh;
  background-color: rgb(252, 168, 0);
  color: black;
  box-sizing: border-box;
}

.contact-slide p, h2 {
  margin: 0;
}

.contact-slide {
  padding-top: 59.2px;
  height: 100vh;
  background-color: black;
  color: rgb(252, 168, 0);
  box-sizing: border-box;
}

/* Style the header */
.header {
  padding: 60px;
  text-align: center;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210715/pngtree-science-and-technology-sense-computer-business-hexagon-geometric-dot-background-image_742353.jpg);
  height: 250px;
  color: white;
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 50px;
}

#logo {
  height: 50.5px;
  vertical-align: middle;
  padding-left: .5%;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: .5%;
  padding-bottom: .5%;
}

/* Style the navigation bar links */
.navbar a:not(:first-child) {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  flex: 70%;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover:not(:first-child) {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 15%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.imgofme {
    width: 298px;
    height: 369px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width:100%;
  }
}