html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
html, body {
  font-family: Arial black !important;
}

.intro-slide {
  height: 100vh;
  background-color: black;
  color: rgb(252, 168, 0);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
}

.intro-slide p {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.intro-slide h1 .name {
  color: white;
  display: inline;
}

.about-slide p, h2 {
  margin: 0;
}

.about-slide {
  padding-left: 5%;
  padding-right: 40%;
  padding-top: 100px;
  height: 65vh;
  background-color: rgb(160, 145, 145);
  color: black;
  box-sizing: border-box;
}

.skills-slide p, h2 {
  margin: 0;
}

.skills-slide {
  padding-left: 5%;
  padding-top: 75px;
  height: 70vh;
  background-color: rgb(160, 145, 145);
  color: black;
  box-sizing: border-box;
}

.project-slide p, h2 {
  margin: 0;
}

.project-slide {
  padding-left: 5%;
  padding-top: 75px;
  height: 275vh;
  background-color: rgb(160, 145, 145);
  color: black;
  box-sizing: border-box;
}

.contact-slide p, h2 {
  margin: 0;
}

.contact-slide {
  padding-top: 100px;
  height: 80vh;
  background-color: rgb(160, 145, 145);
  color: black;
  box-sizing: border-box;
}

#logo {
  height: 40px;
}

nav div ul li {
  font-size: 20px;
  padding: 0 15px;
  font-family: Arial black;
}

nav div ul li a:hover {
  color: black !important;
  background-color: white;
}

div .col-3 {
  border: white;
}

.myborder {
  width: 400px;
  height: 300px;
  border: 5px solid black;
  padding: 0 0 50px 0;
}

.myborder:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05); 
}

footer {
  background-color: rgb(142, 129, 129);
}

figcaption {
  background-color: rgb(142, 129, 129);
}

@media screen and (max-width: 767px) {
  .contact-slide {
    height: 125vh;
  }
  .about-slide {
    height: 90vh;
  }
}

@media screen and (max-width: 1400px) {
  .skills-slide {
    height: 150vh;
  }
}

@media screen and (max-width: 1050px) {
  #dbinterface {
    width: 450px;
  }
  #personalwebsite {
    width: 450px;
  }
}